<h1 mat-dialog-title>Edit MCQ Information</h1>
<mat-divider></mat-divider>

<div class="alert alert-success fade show" role="alert" *ngIf="this.message != null && this.message != ''">
  <span>{{this.message}}</span>
</div>
<div class="alert alert-danger fade show" role="alert" *ngIf="this.message == null && this.errorMsg != null && this.errorMsg != ''">
  <span>{{this.errorMsg}}</span>
</div>

<div mat-dialog-content >

  <form class="row g-3"[formGroup]="mcqsForm"(ngSubmit)="AddChapter()" >



    <div class="container">

      <mat-form-field appearance="fill">
        <mat-label>Difficulty</mat-label>
        <mat-select  formControlName="difficulty">
          <mat-option name="difficulty" *ngFor="let element of this.Deficultykeys" [value]="element">
            {{element}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <div class="container">
      <mat-form-field appearance="fill">
          <mat-label>Question Text</mat-label>
          <input matInput placeholder="Question Text"name="question_text" formControlName="question_text">
        </mat-form-field>
  </div>
  <div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Answer 1</mat-label>
        <input matInput placeholder="answer1"name="answer1" formControlName="answer1">
      </mat-form-field>
  </div>
  <div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Answer 2</mat-label>
        <input matInput placeholder="answer2"name="answer2" formControlName="answer2">
      </mat-form-field>
  </div>
  <div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Answer 3</mat-label>
        <input matInput placeholder="answer3"name="answer3" formControlName="answer3">
      </mat-form-field>
  </div>
  <div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Answer 4</mat-label>
        <input matInput placeholder="answer4"name="answer4" formControlName="answer4">
      </mat-form-field>
  </div>
  <div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Grade</mat-label>
        <input matInput placeholder="grade"name="grade" formControlName="grade">
      </mat-form-field>
  </div>
  <div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Correct Answer</mat-label>
        <mat-select formControlName="CorrectAnswer">
          <mat-option name="CorrectAnswer"  *ngFor="let element of this.CorrectMcqkeys" [value]="element">
            {{element}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>

    <div class="container">
          <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
            <button mat-raised-button color="primary" >Edit</button>
          </div>
      </div>
  </form>
</div>


