
<h1 mat-dialog-title>Exam Information</h1>
<mat-divider></mat-divider>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<div class="mat-elevation-z8">
              <table mat-table [dataSource]="exams">
                <ng-container matColumnDef="mcq_easy_questionsNumber">
                      <th mat-header-cell *matHeaderCellDef> No. Easy MCQ </th>
                      <td mat-cell *matCellDef="let element"> {{element.mcq_easy_questionsNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="mcq_medium_questionsNumber">
                      <th mat-header-cell *matHeaderCellDef>No. Medium MCQ </th>
                      <td mat-cell *matCellDef="let element"> {{element.mcq_medium_questionsNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="mcq_hard_questionsNumber">
                      <th mat-header-cell *matHeaderCellDef> No. Hard MCQ </th>
                      <td mat-cell *matCellDef="let element"> {{element.mcq_hard_questionsNumber}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedMcqColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedMcqColumns;"></tr>
               </table>

               <table mat-table [dataSource]="exams">
                  <ng-container matColumnDef="tf_easy_questionsNumber">
                    <th mat-header-cell *matHeaderCellDef> No. Easy T&F </th>
                    <td mat-cell *matCellDef="let element"> {{element.tf_easy_questionsNumber}}</td>
                  </ng-container>

                  <ng-container matColumnDef="tf_medium_questionsNumber">
                    <th mat-header-cell *matHeaderCellDef> No. Medium T&F </th>
                    <td mat-cell *matCellDef="let element"> {{element.tf_medium_questionsNumber}}</td>
                  </ng-container>

                  <ng-container matColumnDef="tf_hard_questionsNumber">
                    <th mat-header-cell *matHeaderCellDef> No. Hard T&F </th>
                    <td mat-cell *matCellDef="let element"> {{element.tf_hard_questionsNumber}}</td>
                  </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedTFColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedTFColumns;"></tr>
                </table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

 <div mat-dialog-actions [align]="'end'">
   <button mat-raised-button color="warn" mat-dialog-close>Cancle</button>
 </div>
