<body>
    <div class="background">
        <div class="space"></div>
        <div class="container">
            <div class="add ">
                <button mat-raised-button color="primary" (click)="openDialog()">Add New Student</button>
            </div>
            <mat-divider></mat-divider>

            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
              </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="students">
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell alert alert-danger fade show" [attr.colspan]="displayedColumns.length">
                        No Data Found
                      </td>
                    </tr>
                            <!-- id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                      </ng-container>
                            <!-- FName Column -->
                      <ng-container matColumnDef="student_code">
                        <th mat-header-cell *matHeaderCellDef> Student Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.student_code}} </td>
                      </ng-container>

                            <!--LName Column -->

                      <ng-container matColumnDef="first_name">
                        <th mat-header-cell *matHeaderCellDef> First Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                      </ng-container>

                                           <!--Scode Column -->

                         <ng-container matColumnDef="last_name">
                            <th mat-header-cell *matHeaderCellDef> Last Name  </th>
                            <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                          </ng-container>

                                               <!--level Column -->

                         <ng-container matColumnDef="level">
                            <th mat-header-cell *matHeaderCellDef>  Level </th>
                            <td mat-cell *matCellDef="let element"> {{element.level}} </td>
                          </ng-container>

                                               <!--email Column -->

                         <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef>  Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                          </ng-container>

                                               <!--password Column -->

                         <ng-container matColumnDef="password">
                            <th mat-header-cell *matHeaderCellDef>  PassWord </th>
                            <td mat-cell *matCellDef="let element"> {{element.password}} </td>
                          </ng-container>

                                                 <!--password Column -->

                         <ng-container matColumnDef="department_id">
                            <th mat-header-cell *matHeaderCellDef>  Department </th>
                            <td mat-cell *matCellDef="let element"> {{element.department_id}} </td>
                          </ng-container>

                                            <!-- Actions -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Actions</th>
                            <td mat-cell *matCellDef="let element" >
                                <button mat-mini-fab color="light" class="icon "(click)="DeleteConfirm(element.id)"data-toggle="modal" data-target="#modelId" >
                                    <mat-icon color="warn">delete</mat-icon>
                                 </button>

                                 <button mat-mini-fab color="light" class="icon" (click)="editDialog(element.student_code,element.id)">
                                    <mat-icon color="primary">edit</mat-icon>
                                 </button>
                            </td>
                        </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                 </table>
                 <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</body>
