<body>
  <div class="background">
      <div class="space"></div>
       <div class="container">
          <div class="add ">
              <h1>All Questions </h1>
          </div>
          <mat-divider></mat-divider>

          <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>

          <div class="table">
            <div class="mat-elevation-z8">
              <h2>MCQS</h2>
                <table mat-table [dataSource]="mcqs">

                      <ng-container matColumnDef="mcq_id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.mcq_id}} </td>
                      </ng-container>

                      <ng-container matColumnDef="difficulty">
                        <th mat-header-cell *matHeaderCellDef> Difficulty </th>
                        <td mat-cell *matCellDef="let element"> {{element.difficulty}} </td>
                      </ng-container>

                      <ng-container matColumnDef="question_text">
                        <th mat-header-cell *matHeaderCellDef> Question Text </th>
                        <td mat-cell *matCellDef="let element"> {{element.question_text}} </td>
                      </ng-container>

                      <ng-container matColumnDef="answer1">
                        <th mat-header-cell *matHeaderCellDef> Answer1 </th>
                        <td mat-cell *matCellDef="let element"> {{element.answer1}} </td>
                      </ng-container>

                      <ng-container matColumnDef="answer2">
                        <th mat-header-cell *matHeaderCellDef> Answer2 </th>
                        <td mat-cell *matCellDef="let element"> {{element.answer2}} </td>
                      </ng-container>

                      <ng-container matColumnDef="answer3">
                        <th mat-header-cell *matHeaderCellDef> Answer3 </th>
                        <td mat-cell *matCellDef="let element"> {{element.answer3}} </td>
                      </ng-container>

                      <ng-container matColumnDef="answer4">
                        <th mat-header-cell *matHeaderCellDef> Answer4 </th>
                        <td mat-cell *matCellDef="let element"> {{element.answer4}} </td>
                      </ng-container>

                      <ng-container matColumnDef="CorrectAnswer">
                        <th mat-header-cell *matHeaderCellDef> Correct Answer </th>
                        <td mat-cell *matCellDef="let element"> {{element.CorrectAnswer}} </td>
                      </ng-container>

                        <!-- Actions -->
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Actions</th>
                          <td mat-cell *matCellDef="let element" >

                          <button mat-mini-fab color="light" class="icon" id="ckitem" value="{{element.mcq_id}}"  (click)="addQuestion(element.mcq_id)">
                              <mat-icon color="primary">add_circle</mat-icon>
                          </button>

                          </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="mcqdisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: mcqdisplayedColumns;"></tr>
                </table>
            </div>
          </div>

        <div class="table">
          <div class="mat-elevation-z8">
            <h2>True or False</h2>
            <table mat-table [dataSource]="TF">

                  <ng-container matColumnDef="tf_id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.tf_id}} </td>
                  </ng-container>

                  <ng-container matColumnDef="difficulty">
                    <th mat-header-cell *matHeaderCellDef> Difficulty </th>
                    <td mat-cell *matCellDef="let element"> {{element.difficulty}} </td>
                  </ng-container>

                  <ng-container matColumnDef="question_text">
                    <th mat-header-cell *matHeaderCellDef> Question Text </th>
                    <td mat-cell *matCellDef="let element"> {{element.question_text}} </td>
                  </ng-container>

                  <ng-container matColumnDef="CorrectAnswer">
                    <th mat-header-cell *matHeaderCellDef> Correct Answer </th>
                    <td mat-cell *matCellDef="let element"> {{element.CorrectAnswer}} </td>
                  </ng-container>

                     <!-- Actions -->
                     <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Actions</th>
                      <td mat-cell *matCellDef="let element" >

                       <button mat-mini-fab color="light" class="icon"id="ckitem" value="{{element.tf_id}}" (click)="addQuestion(element.tf_id)">
                          <mat-icon color="primary">add_circle</mat-icon>
                       </button>

                      </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="TFdisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: TFdisplayedColumns;"></tr>
            </table>
          </div>
        </div>

       </div>
  </div>
</body>


