<body>
  <div class="background">
      <div class="space"></div>
      <div class="container">
          <mat-divider></mat-divider>

          <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>

          <div class="mat-elevation-z8">
              <table mat-table [dataSource]="exams">
                          <!-- id Column -->
                  <ng-container matColumnDef="exam_id">
                      <th mat-header-cell *matHeaderCellDef> ID </th>
                      <td mat-cell *matCellDef="let element"> {{element.exam_id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="subject_name">
                      <th mat-header-cell *matHeaderCellDef>Subject</th>
                      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
                    </ng-container>

                    <ng-container matColumnDef="start_time">
                      <th mat-header-cell *matHeaderCellDef>Start Time</th>
                      <td mat-cell *matCellDef="let element"> {{element.start_time}} </td>
                    </ng-container>

                       <ng-container matColumnDef="end_time">
                          <th mat-header-cell *matHeaderCellDef>End Time</th>
                          <td mat-cell *matCellDef="let element"> {{element.end_time}} </td>
                        </ng-container>

                       <ng-container matColumnDef="duration_minutes">
                          <th mat-header-cell *matHeaderCellDef>Duration in Minutes</th>
                          <td mat-cell *matCellDef="let element"> {{element.duration_minutes}} </td>
                        </ng-container>

                        <!-- Actions -->
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Actions</th>
                          <td mat-cell *matCellDef="let element" >
                              <button mat-raised-button color="primary"(click)="openInformationDialog(element.exam_id)" >
                                Show Exam Information
                            </button>
                          </td>
                        </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               </table>

               <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

          </div>
      </div>
  </div>
</body>


