body{
    margin: 0;
    padding: 0;
}
.background{
    background-image: url(../../../assets/images/board.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.title{
    text-align: center;
    padding-top: 250px;
    color: rgb(245, 245, 245);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    width: 200px;
    margin-top: 20px;
}
