body{
    margin: 0;
    padding: 0;
}
.background{
    
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrgZ-mmHrl2IL8s4RMHpWv3jBig8jW8nJMBQ&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.title{
    text-align: center;
    padding-top: 250px;
   
    color: rgb(245, 245, 245);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    width: 200px;
    margin-top: 20px;
}