<h1 mat-dialog-title>Add new Student</h1>
<mat-divider></mat-divider>

<div class="alert alert-success fade show" role="alert" *ngIf="this.message != null && this.message != ''">
  <span>{{this.message}}</span>
</div>
<div class="alert alert-danger fade show" role="alert" *ngIf="this.message == null && this.errorMsg != null && this.errorMsg != ''">
  <span>{{this.errorMsg}}</span>
</div>

<div mat-dialog-content>
  <form class="row g-3" [formGroup]="studentForm"(ngSubmit)="AddStudent()">

    <div class="container">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Placeholder"name="first_name" formControlName="first_name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Placeholder"name="last_name" formControlName="last_name">
          </mat-form-field>
    </div>

    <div class="container">

      <mat-form-field appearance="fill">
        <mat-label> Academic Id</mat-label>
        <input matInput placeholder="Placeholder"name="student_code"formControlName="student_code" required>
      </mat-form-field>

    </div>
    <div class="container">
        <mat-form-field appearance="fill">
          <mat-label>Enter Student email</mat-label>
          <input matInput placeholder="pat@example.com" name="email" formControlName="email" [formControl]="email"required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter Student password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"name="password" formControlName="password" >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
    </div>

    <div class="container">
          <mat-form-field appearance="fill">
            <mat-label>Select Student Level</mat-label>
            <mat-select formControlName="level" name="level">
              <mat-option value="1" >1</mat-option>
              <mat-option value="2" >2</mat-option>
              <mat-option value="3" >3</mat-option>
              <mat-option value="4" >4</mat-option>
            </mat-select>
        </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Select Student Departement</mat-label>
              <mat-select formControlName="department_id" name="department_id">
                <mat-option *ngFor="let department of departments" [value]="department.id" >{{department.name}}</mat-option>
              </mat-select>
          </mat-form-field>
          <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
            <button mat-raised-button color="primary" >Save</button>
          </div>
    </div>
  </form>
</div>

