<body>
    <div class="background">

        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <!-- we will add logo later-->
              <a class="navbar-brand" href="#">  <img src="/assets/images/EExams-removebg-preview.png" width="80" height="60"></a>
              <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" (click)="toggleNav()" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- will change from database-->
                 <span> {{student.first_name}}  </span>
                </button>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [class.show]="isOpen">
                  <a class="dropdown-item" routerLink="/student/home">Home</a>
                  <a class="dropdown-item" routerLink="/student/account">Account</a>

                  <a class="dropdown-item" routerLink="/logout">Log Out</a>

                </div>
             </div>
            </div>
        </nav>

        <div class="space"></div>

        <div class="container p-3" id="con2" >
            <div class="welcome">
                <p>
                    <span><fa-icon [icon]="faSmile"></fa-icon></span> Thanks  dear, {{student.first_name}}! Your Response has been submitted!
                </p>
                <span class="result">Your Result  <button mat-raised-button color="accent">{{this.result?.['result']}}/100</button></span>
            </div>
        </div>
        </div>
    </body>
