
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span> APP LOGO </span>
        <button mat-icon-button  (click)="toggleSideBar()" >
            <mat-icon>menu</mat-icon>
        </button>



        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                  <button mat-icon-button  routerLink="/professor"(click)="openSnackBar()">
                      <mat-icon>assignment_ind</mat-icon>
                  </button>
                </li>

                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon aria-hidden="false">person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item  (click)="logout()">
                            <mat-icon  >exit_to_app</mat-icon>
                            Log Out
                         </button>
                    </mat-menu>

                </li>


            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
