<body>
    <div class="background">
        <div class="space"></div>
        <div class="container">

          <div class="row card-deck">
            <div class="card bg-gradient-danger card-img-holder text-white grid-margin">
              <div class="card-body">
                <img src="../../../assets/images/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Number of Students <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">{{this.countStudent}}</h2>
              </div>
            </div>
            <div class="card bg-gradient-info card-img-holder text-white grid-margin">
              <div class="card-body">
                <img src="../../../assets/images/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Number of Professors <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">{{this.countProfessor}}</h2>
              </div>
            </div>

          </div>
          <div class="row card-deck">
            <div class="card bg-gradient-success card-img-holder text-white grid-margin">
              <div class="card-body">
                <img src="../../../assets/images/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Number of Exams<i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">{{this.countExams}}</h2>
              </div>
            </div>
            <div class="card bg-gradient-warning card-img-holder text-white grid-margin">
              <div class="card-body">
                <img src="../../../assets/images/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Number of Questions<i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">{{this.countQuestions}}</h2>
              </div>
            </div>
          </div>

          <div class="space"></div>

          <!-- <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartOptions"
            style="width: 100%; height: 400px; display: block;"
          ></highcharts-chart> -->
        </div>
    </div>
</body>
