<mat-nav-list>
    <div class="profile-card">
        <img src="https://icons.iconarchive.com/icons/google/noto-emoji-people-profession/256/10219-man-teacher-light-skin-tone-icon.png">

        <div class="header">

            <h2>Prof Name </h2>
            <h4>example@email.com</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h1 matSubheader>Your Subjects </h1>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/professorExams">
        <mat-icon>Exams</mat-icon>
        Exams
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/professorSujects">
        <mat-icon>subject</mat-icon>
      Subjects
    </a>
</mat-nav-list>
