
<body>
  <div class="background">
      <div class="space"></div>
       <div class="container">
          <mat-divider></mat-divider>
                    <button mat-raised-button routerLinkActive="list-item-active" routerLink="/professor/chaptersQuestionslistMCQ"color="primary"><mat-icon> spellcheck</mat-icon>MCQ</button>
                    <button mat-raised-button routerLinkActive="list-item-active" routerLink="/professor/chaptersQuestionslistTorF"color="primary"><mat-icon> spellcheck</mat-icon>T or F</button>
          </div>
       </div>
</body>

