<body>
  <div class="background">
      <div class="space"></div>
       <div class="container">
          <mat-divider></mat-divider>
                    <button mat-raised-button routerLinkActive="list-item-active" routerLink="/AdminsList"color="primary"><mat-icon> spellcheck</mat-icon>Admins</button>
                    <button mat-raised-button routerLinkActive="list-item-active" routerLink="/professorsList"color="primary"><mat-icon> spellcheck</mat-icon>Professors</button>
          </div>
       </div>
</body>

