<body>
    <div class="background">
        <div class="space"></div>
        <div class="container" id="con">
            <h1  *ngFor="let element of subjectName">Create New <span>{{element.name}} </span>Exam </h1>
            <mat-divider></mat-divider>

            <div class="alert alert-success fade show" role="alert" *ngIf="this.message != null && this.message != ''">
              <span>{{this.message}}</span>
            </div>
            <div class="alert alert-danger fade show" role="alert" *ngIf="this.message == null && this.errorMsg != null && this.errorMsg != ''">
              <span>{{this.errorMsg}}</span>
            </div>

          <form class="row g-3" [formGroup]="examForm"(ngSubmit)="CreateExam()">

              <div class="container">
                <mat-form-field appearance="fill">
                  <mat-label>Name </mat-label>
                  <input matInput  placeholder="Ex:MidTerm" formControlName="name">
                </mat-form-field>
              </div>

             <div class="container" >
              <h2>MCQ Questions</h2>

                <mat-form-field appearance="fill" class="Qtype">
                  <mat-label>Easy Question Count </mat-label>
                  <input matInput type="number" placeholder="Ex:12" formControlName="mcq_easy_questionsNumber">
                </mat-form-field>

                <mat-form-field appearance="fill" class="Qtype">
                    <mat-label>Medium Question Count</mat-label>
                    <input matInput type="number" placeholder="EX:12" formControlName="mcq_medium_questionsNumber">
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="Qtype">
                    <mat-label>Hard Question Count</mat-label>
                    <input matInput type="number" placeholder="EX:12" formControlName="mcq_hard_questionsNumber">
                  </mat-form-field>
             </div>

             <div class="container" >
              <h2>True and False Questions</h2>
                <mat-form-field appearance="fill" class="Qtype">
                  <mat-label>Easy Question Count </mat-label>
                  <input matInput type="number" placeholder="Ex:MidTerm "formControlName="tf_easy_questionsNumber">
                </mat-form-field>

                  <mat-form-field appearance="fill" class="Qtype">
                    <mat-label>Medium Question Count</mat-label>
                    <input matInput type="number" placeholder="Placeholder"formControlName="tf_medium_questionsNumber">
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="Qtype">
                    <mat-label>Hard Question Count</mat-label>
                    <input matInput type="number" placeholder="Placeholder"formControlName="tf_hard_questionsNumber">
                  </mat-form-field>
             </div>

             <div class="container">
                <mat-form-field appearance="fill">
                  <mat-label>Exam  Duration </mat-label>
                  <input matInput type="number"  placeholder="Ex:30min" formControlName="duration_minutes">
                </mat-form-field>
             </div>

             <div class="container">
                <mat-form-field color="accent" appearance="fill">
                    <mat-label>Opening Date and Time</mat-label>
                    <input matInput   type="datetime-local"formControlName="start_time">
                  </mat-form-field>
                  <mat-form-field color="accent" appearance="fill" >
                    <mat-label>Closing date and Time</mat-label>
                    <input matInput type="datetime-local" formControlName="end_time">
                  </mat-form-field>
             </div>

             <div class="container">
               <button mat-raised-button color="primary" (click)="openChaptersDialog()">Question Bank</button>
             </div>

             <div class="buttons">
              <div mat-dialog-actions [align]="'end'">
                <button mat-raised-button color="warn" mat-dialog-close>Cancle</button>
                <button mat-raised-button color="primary" >Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
</body>
