<mat-nav-list>
    <div class="profile-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBQ4gYnkoJbx4Z-TDeZga9djWVC523sjFUpA&usqp=CAU">

        <div class="header">

            <h2>{{this.FirstName}} {{this.LastName}}</h2>
            <h4>{{this.email}}</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h1 matSubheader>Tools</h1>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard">
        <mat-icon>home</mat-icon>
       Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/students">
      <mat-icon>school</mat-icon>
     students
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/professors">
      <mat-icon>person</mat-icon>
      Professor
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/subjects">
      <mat-icon>book</mat-icon>
      Subjects
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/departments">
      <mat-icon>group</mat-icon>
      Departments
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/ExamsList">
      <mat-icon>event</mat-icon>
      Exams
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/question-layout">
      <mat-icon>help</mat-icon>
      Questions Bank
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/ProfessorsRoles">
        <mat-icon>account_balance</mat-icon>
      Professor Roles
    </a>


</mat-nav-list>

